<div class="container">
    <h1>About Me</h1>
    <br><br>
    <h2>An introduction of yours truly</h2>
    <br><br>
    <h4>My name is Tyler Mercier. I'm a student at Centennial College in its Game Programming course. Here's a picture of me:</h4>
    <img src="https://mail.google.com/mail/u/0?ui=2&ik=8529749101&attid=0.1&permmsgid=msg-f:1728850633744964649&th=17fe1c7dd613dc29&view=fimg&realattid=17fe1c764025c2691cd1&disp=thd&attbid=ANGjdJ94DLhaCutej-D2qnDo1GbbZZbG4fyzpPNK2CVwjg2TIe-T_J9yIas0gEcjHe6t_WpfoRkUzpALqKMOhy0IRjSqoQ4nZPEJkC4kU-9IBplzVH_VTAyakDEg-r0&ats=2524608000000&sz=w1920-h988" alt="me" width="275" height="300">
    <br><br>
    <h4>My resume can be found here:</h4>
    <a href="https://docs.google.com/document/d/1ANWLSXM15dRKBbFslr0OKKFTXiybh7u3/edit?usp=sharing&ouid=116335737846968960088&rtpof=true&sd=true">My Resume</a>
</div>