<div class="container">
    <h1>Past Projects</h1>
    <br><br>
    <h2>Some projects I'm proud of</h2>
    <br><br>
    <h5>Programming is a huge passion of mine, and as such I have plenty of past projects that I'm proud to say "I'm the creator of this project."</h5>
    <br><br>
    <h6>One such project was my Final Project for Grade 12 Programming, in which I created my first AI by complete accident. It was a pretty complex game of cards in which I had to account for a bunch of possibilities. It's called "BAT". Essencially each card has a certain value and once that value reaches above 99 the player that made it tip is given a letter. 3 letters and you're out! I had to account for so much. I had to make an entire deck of cards meaning I had to make suits which didn't even fill much of a role in BAT, I had to account for turn order, I had to give certain cards special effects (aces were quite the doozies) but I did it. The AI I created simply looks at the cards of the player, if the player has no playable cards it ends the round instantly, though using this logic I could've gone the extra mile and allowed the player to play against said AI. I created everything in this project, the comments, the gui, all the nitty-gritty insides, all mine. The outcome got me the highest grade amongst my class at a 93.</h6>
    <img src="https://previews.dropbox.com/p/thumb/ABrCQfP-67ptlXdZLtNdvbF-YssAidvGOmh1a82NPh_lwYLxM80ytrm9DSFjTNmSuiB8WjB23wbJwyZvFH8ljYKXAYPBtdWWpTAaLyFvxKibZgY2CqTw2yJf0GJ6miyT9d2Mz32xsxA0ZJGXaWibst1-0v1F7hPAYd3fJTzXYyIS6tX4BAH-thVw2WxdE-GxrBVXjlaQpPIzqycqSQKr8TvYOm_lz3f8Zgr3mTEwGd_woZsWcMjQHQ-tEKbmlbJ-0MHix3xBSdzWkxGMnfVKIJDuvt2bjULs8vzK-FE3RIR7jVyfyhRT0BldqB87ABbR3FMmykYYfNGuSvRRPdgpsfZC66n2JS4F6Ts0erP8OCLryK1gekSNeko1Moj0HiQEAYyS-6sdLHsyfTnFdodsLsU0/p.png" alt="bat" height="350" width="285">
    <br><br>
    <h6>i ran out of projects im proud of, sorry! the rest i did as a 12 year old that didnt know what "stupid and embarassing" was, which obviously wont be shown</h6>
</div>