<div class="container">
    <h1>My Services</h1>
    <br><br>
    <h2>A list of services I provide.</h2>
    <br><br>
    <h4>A list of what I'm good at!</h4>
    <h6>- I'm very well versed in Java, C# and SQL and can make my way around most new coding languages. I'll learn them in a matter of days.</h6>
    <h6>- I created many different programs using the above languages (minus SQL, that one isn't made for it) and have plans to continue in the field.</h6>
    <h6>- I find zero frustration in bug squashing, if anything I enjoy the silly little bug that needs fixing. It's always funny to watch games destroy themselves from the inside-out.</h6>
    <h6>- Once I make a plan to do something, I make sure I follow through with it. I hyperfocus until the deed is done, then I report it.</h6>
    <h6>- In the above report, I make sure to give detailed notes on what I changed and ask them if there's anything I should tweak.</h6>
    <h6>- Programming in most languages is super refreshing and really cool to watch my own code grow and evolve as I keep adding lines to it.</h6>
    <h6>- Above all, I really enjoy getting creative to come up with something I once thought impossible. The BAT AI is just one example.</h6>
    <h6>- Finally, I'm never afraid to ask for help. I understand its value and gives me a chance to better connect with those around me.</h6>
    <br><br>
</div>